@font-face {
    font-family: Mulish;
    src: url("../fonts/Mulish-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: Cormorant;
    src: url("../fonts/Cormorant-MediumItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 500;
}
@font-face {
    font-family: CormorantReg;
    src: url("../fonts/Cormorant-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}