.footer {
    margin-top: 182px;
    &__button {
        margin: 0 auto;
        width: 905px;
        height: 207px;
    }
    &__button_main {
        margin-top: 50px;
        margin-bottom: 160px;
    }
    &__button_sub {

    }
}