.format {
    &__title {
        margin-top: 200px;
    }
    &__text {
        width: 990px;
        margin-top: 100px;
    }
    &__button {
        margin: 0 auto;
        width: 905px;
        height: 207px;
    }
    &__button_main {
        margin-top: 90px;
    }
    &__button_sub {
        margin-top: 50px;
    }
}