.price {
    margin: 213px 0 0 0;
    &__title {
    }

    &__text {
        padding-top: 107px;
        width: 923px;
    }

    &__packages {
        margin-top: 75px;
    }

    &__package {
        margin-bottom: 125px;
    }
}
