.reviews {
    margin-top: 212px;
    &__slider {
        margin: 0 auto;
        margin-top: 72px;
        height: 845px;
    }
    &__slide {
        height: 845px;
    }

    // &__slide_1 {
    //     background: url(../images/review_1.PNG) 0 0/contain no-repeat;
    // }
    // &__slide_2 {
    //     background: url(../images/review_2.PNG) 0 0/contain no-repeat;
    // }
    // &__slide_3 {
    //     background: url(../images/review_3.PNG) 0 0/contain no-repeat;
    // }
    // &__slide_4 {
    //     background: url(../images/review_4.PNG) 0 0/contain no-repeat;

    // }
    // &__slide_5 {
    //     background: url(../images/review_5.PNG) 0 0/contain no-repeat;

    // }
    // &__slide_6 {
    //     background: url(../images/review_6.PNG) 0 0/contain no-repeat;

    // }
    // &__slide_7 {
    //     background: url(../images/review_7.PNG) 0 0/contain no-repeat;

    // }
    // &__slide_8 {
    //     background: url(../images/review_8.PNG) 0 0/contain no-repeat;

    // }
    // &__slide_9 {
    //     background: url(../images/review_9.PNG) 0 0/contain no-repeat;

    // }
    // &__slide_10 {
    //     background: url(../images/review_10.PNG) 0 0/contain no-repeat;

    //}
    
}