@import '_fonts.scss';
@import '_variables.scss';
@import '_zeroing.scss';
@import '_header.scss';
@import '_format.scss';
@import '_intentions.scss';
@import '_schedule.scss';
@import '_price.scss';
@import '_contacts.scss';
@import '_reviews.scss';
@import '_footer.scss';

body {
    background-color: $main-color;
}

.wrapper {
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.title {
    margin-left: 103px;
    color: $main-text-color;
    &_main {
        font-family: $main-font;
        font-size: 90px;
        line-height: 92.5%;
    }
    &_sub {
        font-family: $sub-font;
        font-size: 112px;
        line-height: 92.5%;
    }
}

.text {
    margin-left: 103px;
    color: $main-text-color;
    font-family: $main-font;
    font-size: 36px;
    line-height: 119%;
    &__special {
        font-family: CormorantReg;
        font-size: 58px;
    }
}

.button {
    cursor: pointer;
    display: block;
    font-family: $main-font;
    font-size: 50px;
    border-radius: 100%;
    &_main {
        border: 1px solid $sub-color;
        background-color: $main-color;
        color: $main-text-color;
    }
    &_sub {
        border: 1px solid $main-color;
        background-color: $sub-color;
        color: $sub-text-color;
    }
}

.list {
    margin-left: 103px;
    &__item {

    }
    &__item-index {
        font-family: $sub-font;
        color: $main-text-color;
        font-size: 100px;
        display: inline-block;
        position: relative;
        top: -25px;
        padding-right: 65px;
    }
    &__item-text {
        display: inline-block;
    }
    &__item:nth-last-child(2) .list__item-index{
        top: 0;
    }
}

.timetable {
    margin-left: 103px;
    &__item {
        width: 992px;
        height: 163px;
        border-bottom: 1px solid $sub-color;
        padding: 45px 0;
    }

    &__date {
        width: 330px;
        display: inline-block;
        font-family: $sub-font;
        color: $main-text-color;
        font-size: 66px;
        line-height: 92.5%;
        padding-top: 30px;
    }

    &__work {
        display: inline-block;
        font-family: $main-font;
        color: $main-text-color;
        font-size: 36px;
        line-height: 107%;
        margin-left: 350px;
        padding-top: 10px;
    }
}

.package {
    margin-left: 103px;
    color: $sub-text-color;
    background-color: $sub-color;
    border-radius: 80px;
    padding: 70px;
    width: 992px;
    &__title {
        padding-left: 17px;
        font-size: 64px;
        font-family: $main-font;
        line-height: 107%;
    }

    &__price {
        margin-top: 40px;
    }

    &__price-old {
        position: relative;
        display: inline-block;
        color: $main-color;
        font-family: $sub-font;
        font-size: 69px;
        line-height: 92.5%;
        margin-left: 17px;
    }

    &__price-old::after {
        content: '';
        background-image: url(/images/cross_line.svg);
        position: absolute;
        top: 33px;
        left: -15px;
        width: 280px;
        height: 12px;
        color: $main-color;
    }

    &__price-new {
        margin-left: 75px;
        display: inline-block;
        color: $main-color;
        font-family: $sub-font;
        font-size: 99px;
        line-height: 92.5%;
    }

    &__text {
        margin-top: 80px;
        padding-left: 17px;
        font-size: 36px;
        font-family: $main-font;
        line-height: 119%;
    }

    &__button {
        margin: 0 auto;
        margin-top: 65px;
        width: 855px;
        height: 195px;
    }
}

.slick-dots {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.slick-dots li button{
    margin: 0;
    border-radius: 50%;
    color: white;
    font-size: 4px;
    width: 10px;
    height: 12px;
    border-width: 0;
    opacity: 0.1;
    cursor: pointer;
}

.slick-dots li.slick-active button {
    opacity: 1;
}

.slick-track {
    display: flex;
    margin-bottom: -300px;
}
        


@import '@media-1200.scss';